* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(11, 1, 145);
  padding: 0.5%;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo {
  width: 90px;
}

main {
  background: rgb(9, 14, 250);
  background: linear-gradient(
    90deg,
    rgba(9, 14, 250, 1) 9%,
    rgba(250, 247, 9, 1) 56%,
    rgba(0, 18, 255, 1) 79%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

#hero {
  max-width: 1200px;
  margin-top: 30px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 70%;
}

.hero-info h1 {
  font-size: 50px;
  font-weight: 800;
  min-width: 500px;
  width: 80%;
}

.hero-info p {
  display: flex;
  font-size: 25px;
  width: 70%;
  color: white;
}

.hero-info a {
  display: flex;
  color: aliceblue;
  background-color: black;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.herobutton {
  display: flex;
  gap: 30px;
}

.hero-card img {
  width: 690px;
}

.anothersection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.anothersection p {
  background-color: none;
  text-align: center;
  font-size: 35px;
  width: 1000px;
}
